@using TutoringCenter.VN.Models;
@model NewsCategory
@{
    ViewData["Title"] = "XÓA DANH MỤC TIN";
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Xóa danh mục tin</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="." class="text-muted">Admin</a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">Trang chủ</li>
                        <li class="breadcrumb-item text-muted active" aria-current="page">Danh mục tin</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <button type="button" class="btn waves-effect waves-light btn-success btn-rounded px-5" onclick="window.history.back()">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: red;">XÓA DANH MỤC</h4>
                    <form method="post" asp-action="Delete">
                        <h4 class="card-title mt-3">Bạn thực sự muốn xóa danh mục có tên @Model.Name (@Model.Description) không?</h4>
                        @Html.HiddenFor(x => x.NCId)
                        <button type="submit" class="btn btn-block btn-rounded btn-danger mt-5">XÓA NGAY</button>
                        <button type="button" class="btn waves-effect waves-light btn-success btn-rounded mt-3 btn-block" onclick="window.history.back()">KHÔNG XÓA</button>
                        @Html.Raw(ViewBag.notification)
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
@section Scripts {
    <!--This page plugins -->
    <script src="assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script>function goBack() {
			window.history.back()
		}</script>
}
<style>

    .table td, .table th {
        vertical-align: middle;
    }
</style>
